[Unit]
Description=Jellyfin: purge du tmpfs de transcodage chaque minute

[Timer]
OnCalendar=*:*:00
Persistent=true

[Install]
WantedBy=timers.target
