[Unit]
Description=Run jellyseerr-sonarr-monitor-sync every 10 minutes
Requires=jellyseerr-sonarr-monitor-sync.service

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
Unit=jellyseerr-sonarr-monitor-sync.service

[Install]
WantedBy=timers.target
