[Unit]
Description=Run qbit-stuck-handler every 5 minutes
Requires=qbit-stuck-handler.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=qbit-stuck-handler.service

[Install]
WantedBy=timers.target
