[Unit]
Description=Run qbit-disk-pressure-handler every 15 minutes
Requires=qbit-disk-pressure-handler.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Unit=qbit-disk-pressure-handler.service

[Install]
WantedBy=timers.target
